<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="index" class="home">
{% include 'github.html' %}
    <header id="banner" class="body">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
        <nav><ul>
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% if DISPLAY_PAGES_ON_MENU -%}
        {% if not PAGES_SORT_ATTRIBUTE -%}
            {% set PAGES_SORT_ATTRIBUTE = 'title' %}
        {% endif %}
        {% for pg in pages | sort(attribute=PAGES_SORT_ATTRIBUTE) %}
            {% if 'http://' in pg.url -%}
                <li><a href="{{ pg.url }}">{{ pg.title }}</a></li>
            {% else %}    
                <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
            {% endif %}
        {% endfor %}
        {% endif %}
        {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}
	<li {% if output_file == 'archives.html' %}class=active{% endif %}><a href="{{ SITEURL }}/archives.html">Recipe Index</a></li>
        </ul>
            <form id="search" action"#" onsubmit="javascript:window.open('https://duckduckgo.com/?q='+document.getElementById('keywords').value+'+site:{{ SITEURL }}');">
                <input id="keywords" type="text" />
            </form>
        </nav>
    </header><!-- /#banner -->
    {% block content %}
    {% endblock %}
    <footer id="contentinfo" class="body">
            <p>Powered by <a href="http://getpelican.com/">Pelican</a>. Theme based on <a href="https://github.com/blueicefield/pelican-blueidea/">blueidea.</a></p>
    </footer><!-- /#contentinfo -->

{% include 'analytics.html' %}
{% include 'piwik.html' %}
{% include 'disqus_script.html' %}
</body>
</html>
